@media screen and (max-width: 1200px) {
    .myaccount__x_give_endorsement__block {
        padding-top: 10px;
    }

    .myaccount__x_give_endorsement__item__man__name {
        margin: 3px -180px 0 0;
    }

    .myaccount__x_give_endorsement__item__man {
        flex-direction: column;
        align-items: flex-start;
        flex: none;
    }

    .myaccount__x_give_endorsement__item {
        gap: 0 10px;
    }

    .myaccount__x_give_endorsement__list .myaccount__x_give_endorsement__item__status,
    .myaccount__x_give_endorsement__list .myaccount__x_give_endorsement__item__deals {
        margin-bottom: -16px !important;
    }

    .endorse_skills_link {
        margin-top: 3px;
    }

    .myaccount__x_give_endorsement__item__top {
        gap: 10px;
    }

    .myaccount__x_content__review__item__author__info {
        width: 100%;
    }

    .account_give_endorsement__list {
        /*margin-top: 30px;*/
    }

    .myaccount__x_content__review__item {
        flex-direction: column;
        gap: 16px;
        font-size: 14px;
    }

    .myaccount__x_content__review__item__author__name {
        margin-bottom: 4px;
    }

    .myaccount__x_content__review__item__author__inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .myaccount__x_content__review__item__author__raiting {
        width: 100%;
        order: 1;
    }

    .myaccount__x_content__review__item__author__date {

    }

    .myaccount__x_content__review__list {
        margin-top: -10px;
    }

    .myaccount__x_content__review__item__title {
        line-height: 130%;
        margin-bottom: 15px;
    }

    .myaccount__x__table__project_status--mobile {
        display: block;
    }

    .myaccount__x_content__block.myaccount__x_content__block--give_endorsement {
        margin-bottom: 10px;
    }

    .myaccount__x_content__block__title {
        /*margin-bottom: 15px;*/
    }

    .myaccount__x_content__block__title--skills {
        margin-bottom: 0;
    }

    .myaccount__x_skill__item {
        padding: 3px 12.5px;
    }

    .myaccount__x_skill__list {
        gap: 14px 10px;
        margin-top: 28px;
        padding-top: 0;
    }

    .myaccount__x__table__project__thead {
        display: none;
    }

    .myaccount__x__table__project__td:before {
        content: attr(data-title);
        color: #bfbfbf;
        font-size: 16px;
        font-weight: 300;
        margin-right: 5px;
    }

    .myaccount__x__table__project__td.myaccount__x__table__project__td--name:before {
        display: none;
    }

    .myaccount__x__table__project__td.myaccount__x__table__project__td--name {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        left: 0;
        width: 175px;
        top: 27px;
    }

    .myaccount__x__table__project__td.myaccount__x__table__project__td--name img {
        margin: 0 0 5px;
    }

    .myaccount__x__table__project__row {
        text-align: left;
        position: relative;
    }

    .myaccount__x__table__project__td--status:before {
        display: none;
    }

    .myaccount__x__table__project__td--status {
        display: none;
    }

    .myaccount__x__table__project__tbody .myaccount__x__table__project__row {
        padding-left: 180px;
        flex-direction: column;
        gap: 8px;
    }

    .myaccount__x__table__project__td--budget {
        width: 100%;
    }

    .myaccount__x__table__project__td--date {
        width: 100%;
    }

    .myaccount__x__table__project__td--bids {
        width: 100%;
    }

    .footer__new__info {
        order: -1;
        width: 100%;
        margin-bottom: 50px;
    }

    .footer__new__post {
        width: 64%;
        margin: 0;
    }

    .footer__new__menu {
        width: 36%;
        flex: auto;
        padding: 0;
    }

    .myaccount__x_about__table__raiting {
        margin-top: 0;
        gap: 11px;
    }

    .myaccount__x_content__quick__links a {
        font-size: 15px;
    }

    .myaccount__x_post__list {
        /*margin-top: -10px;*/
    }

    .myaccount__x_go_up__item__more {
        padding-top: 12px;
    }

    .myaccount__x_go_up__item__title {
        min-height: 44px;
        margin-bottom: 25px;
    }

    .myaccount__x_side {
        width: 100%;
        position: static;
    }

    .myaccount__x_content {
        /*gap: 15px;*/
    }

    .myaccount__x_content__quick__links {
        margin-bottom: 0;
    }

    .myaccount__x_content__quick__links--about {
        margin-top: 18px;
    }

    .btn__purple {
        padding: 10px;
    }

    .myaccount__x_side_info__name {
        margin-bottom: 5px;
    }

    .btn__myaccount__x_accordeon svg path {
        stroke: rgb(44, 51, 193);
    }

    .myaccount__x__education__document--holder {
        gap: 24px;
    }

    .myaccount__x__education__document {
        max-width: calc(50% - 12px);
    }

    /*.myaccount__x_go_up__row {*/
    /*    gap: 20px;*/
    /*}*/
    /*.myaccount__x_status__list__item {*/
    /*    font-size: 14px;*/
    /*}*/
}

@media screen and (max-width: 1000px) {
    .myaccount__x_give_endorsement__item__project {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .myaccount__x_give_endorsement__item {
        position: relative;
    }

    .myaccount__x_give_endorsement__item__man {
        flex: 1;
    }

    .myaccount__x_give_endorsement__item__top .myaccount__x_give_endorsement__item__project {
        display: none;
    }

    .myaccount__x_give_endorsement__item__top,
    .myaccount__x_give_endorsement__item {
        grid-template-areas: "refferal deals status" "project project project";
        grid-template-columns: auto 65px 180px;
    }
}

@media screen and (max-width: 992px) {
    .myaccount__new .container {
        width: 100%;
    }
}

@media screen and (min-width: 851px) {
    .myaccount__x_accordeon__content:not(.__collapsable) {
        display: block !important;
    }
}

@media screen and (max-width: 850px) {
    .myaccount__x__education__item {
        grid-template-columns: 1.7fr 1fr;
        grid-template-areas: "title time" "location location" "info info";
    }

    .myaccount__x__education__item + .myaccount__x__education__item {
        padding-top: 24px;
        margin-top: 12px;
    }

    .myaccount__x__education__document--link {
        right: 8px;
    }

    .myaccount__x__education__document--link img {
        width: 26px;
    }

    .myaccount__x__education__item--info {
        padding-top: 15px;
    }

    .myaccount__x__education__item--time {
        text-align: right;
    }

    .myaccount__x_content__block.myaccount__x_content__block--review {
        padding-bottom: 0;
    }

    .myaccount__x_content__block.myaccount__x_content__block--education,
    .myaccount__x_content__block.myaccount__x_content__block--about {
        padding-bottom: 20px;
    }

    .myaccount__x_side__edit {
        width: 100%;
        position: static;
    }

    .myaccount__x_give_endorsement__item__top,
    .myaccount__x_give_endorsement__item {
        grid-template-columns: auto 60px 120px;
    }

    .myaccount__x_content__block__title.expand-mob {
        padding-right: 30px;
    }

    .myaccount__x_content__block__title__all__link {
        margin-left: 10px;
    }

    .myaccount__x_content__block__title__value__raiting {
        /*position: static;*/
        /*display: inline-block;*/
        /*margin-left: 10px;*/
        /*vertical-align: middle;*/
    }

    .myaccount__x_content__block__all_post__link {
        position: static;
        display: inline-block;
        vertical-align: middle;
        margin-left: 30px;
    }

    .myaccount__x_content__block__title {
        transition: all 0.25s;
    }

    .__mob-static {
        position: static;
    }

    .myaccount__x_content__block__holder {
        padding-bottom: 40px;
    }

    .myaccount__x_content__block__write__link {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        top: auto;
        padding-top: 15px;
        border-top: 1px solid #e6e6e6;
    }

    .pagination_x ul {
        font-size: 16px;
        line-height: 150%;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .pagination_x--page {
        font-size: 22px;
    }

    .pagination_x a.active {
        border: 2px solid #2c33c1;
        padding: 2px 7px;
    }

    .myaccount__x_content__block.myaccount__x_content__block--give_endorsement .myaccount__x_content__block__title {
        margin-bottom: 12px;
    }

}

@media screen and (max-width: 700px) {
    .footer__new__post {
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid;
        padding-bottom: 20px;
        font-size: 14px;
    }

    .footer__new__menu {
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .footer__new {
        padding: 32px 0;
    }

    .footer__new__info {
        border-top: 1px solid;
        padding-top: 26px;
        order: 2;
        margin-bottom: 0;
    }

    .footer__new__logo {
        max-width: 210px;
        margin-bottom: 24px;
    }

    .myaccount__x_content__block__article {
        padding-bottom: 10px;
    }

    .myaccount__x_content__block__article {
        text-align: center;
    }

    .myaccount__x_content__block__article p {
        margin: 12px 0 26px;
    }

    .myaccount__x_content__block__image {
        float: none;
        padding: 0 0 20px;
        width: 100%;
        text-align: center;
    }

    .myaccount__x_give_endorsement__item__top {
        gap: 5px;
    }
}

@media screen and (max-width: 550px) {
    .endorse_skills_link svg {
        display: none;
    }

    .endorse_skills_link {
        margin: 5px 0 0;
        justify-content: flex-end;
    }

    .myaccount__x_give_endorsement__item__status {

    }

    .myaccount__x_give_endorsement__list {
        padding-bottom: 0;
    }

    .myaccount__x_content__block__title__back {
        font-size: 14px;
    }

    .myaccount__x_content__block__title__back svg {
        margin-top: 0;
    }

    .myaccount__x_content__quick__links a {
        font-size: 14px;
        padding: 8px 1px;
    }

    .myaccount__x_table__raiting__value {
        width: 70px;
    }

    .myaccount__x_post__item__info {
        padding: 10px;
    }

    .myaccount__x_post__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 20px;
    }

    .myaccount__x_content__review__item {
        padding: 10px 0 25px;
    }

    .myaccount__x_content__review__item:last-child {
        padding-bottom: 10px;
    }

    .myaccount__x_content__review__item + .myaccount__x_content__review__item {
        padding-top: 20px;
    }

    .myaccount__x_go_up__item__title {
        min-height: 0;
    }

    .myaccount__x_go_up__row {
        flex-direction: column;
    }

    .myaccount__x_go_up__item__info {
        min-height: 0;
        flex: none;
    }

    .myaccount__x_go_up__item {
        flex-basis: 0;
    }

    .myaccount__x_status__list__item__expire {
        padding-left: 0;
        padding-right: 12px;
        line-height: 1.2;
        text-align: right;
    }

    .myaccount__x_status__list__item {
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 12px;
        padding-bottom: 6px;
    }

    .myaccount__x_status__list__item__link {
        position: absolute;
        right: 0;
        bottom: 100%;
        margin-bottom: 6px;
    }

    .myaccount__x_content__block__all_post__link {
        background: #2c33c1;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        margin: 0;
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
        width: 140px;
        margin-bottom: 10px;
        display: block;
    }

    .footer__new__post {
        font-size: 13px;
    }

    .footer__new__menu {
        font-size: 13px;
    }

    .footer__new__logo img {
        width: 160px;
        margin-bottom: 5px;
    }

    .footer__new__logo__text {
        font-size: 12px;
    }

    .footer__new__logo {
        max-width: initial;
        display: inline-flex;
        margin-bottom: 12px;
    }

    .footer__new__social a {
        padding: 8px;
    }

    .footer__new__social {
        margin-bottom: 15px;
        gap: 15px;
    }

    .footer__new__copyright {
        font-size: 13px;
    }

    .myaccount__x_side__block {
        gap: 13px;
    }

    .myaccount__x__table__project__td.myaccount__x__table__project__td--name {
        width: 135px;
    }

    .myaccount__x__table__project__row {
        font-size: 13px;
    }

    .myaccount__x__table__project__tbody .myaccount__x__table__project__row {
        padding-left: 140px;
        gap: 5px;
    }

    .myaccount__x__table__project__td:before {
        font-size: inherit;
    }

    .myaccount__x__table__project__tbody .myaccount__x__table__project__row {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .account_give_endorsement__list {
        gap: 24px 16px;
    }

    .account_give_endorsement__item {
        width: calc(100% / 3 - 20px);
        flex: 1 0 101px;
    }

    .account_give_endorsement__item__pos {
        font-size: 14px;
    }

    .account_give_endorsement__item__image {
        margin-bottom: 18px;
    }

    .myaccount__x_content__block {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 360px) {
    .myaccount__x_content__block {
        width: calc(100% + 40px);
        margin: 0 -20px;
    }

    .myaccount__x_side {
        margin: 0 -20px 0;
        width: calc(100% + 40px);
    }

    .myaccount__x_side__block {
        font-size: 14px;
    }
}
